<div class="login-wrapper">

  <!-- LADO ESQUERDO -->
  <div class="login-left">
    <img
      src="/Banner-Login.png"
      alt="Ilustração QA Vision Platform"
      class="login-illustration"
    />
  </div>

  <!-- LADO DIREITO -->
  <div class="login-right">

    <mat-card class="login-card">

      <h2>ENTRAR</h2>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <!-- EMAIL -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>E-mail</mat-label>

          <input
            matInput
            formControlName="email"
            type="email"
            placeholder="Digite seu e-mail"
          />

          <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
            O e-mail é obrigatório
          </mat-error>

          <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
            E-mail inválido
          </mat-error>

        </mat-form-field>

        <!-- SENHA -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Senha</mat-label>

          <input
            matInput
            formControlName="password"
            [type]="hidePassword ? 'password' : 'text'"
            placeholder="Digite sua senha"
          />

          <button
            mat-icon-button
            matSuffix
            type="button"
            (click)="hidePassword = !hidePassword"
          >
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>

          <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
            A senha é obrigatória
          </mat-error>

        </mat-form-field>

        <!-- ERRO LOGIN -->
        <div class="login-error" *ngIf="loginError">
          Usuário ou senha inválidos
        </div>

        <!-- BOTÃO -->
        <button
          mat-raised-button
          color="primary"
          class="login-button"
          [disabled]="loginForm.invalid || loading"
        >

          @if (!loading) {
          ENTRAR
          } @else {
          <mat-spinner diameter="20"></mat-spinner>
          }

        </button>

      </form>

    </mat-card>

  </div>

</div>
