.layout-container {
  height: 100vh;
}

/* SIDEBAR */

.sidebar {
  width: 260px;

  border-right: 1px solid rgba(255, 255, 255, 0.05);

  background: linear-gradient(180deg, #020617, #0f172a);
}

/* ÁREA PRINCIPAL */

.layout-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}
/* PAGE */

.page-content {
  flex: 1;
  overflow-y: auto;
  padding: 28px;
  background: radial-gradient(circle at top, #0f172a, #020617);
}
