<mat-toolbar class="header">

  <div class="search-wrapper">
    <mat-icon>search</mat-icon>
    <input
      type="text"
      placeholder="Search..."
      [(ngModel)]="search"
    />
  </div>

  <div class="header-right">

    <!-- Notificações -->
    <button mat-icon-button class="icon-button">
      <mat-icon>notifications</mat-icon>
      <span class="badge">2</span>
    </button>

    <!-- Avatar -->
    <button mat-button [matMenuTriggerFor]="menu" class="avatar-button">
      <div class="avatar">A</div>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        Sair
      </button>
    </mat-menu>

  </div>

</mat-toolbar>
