<div class="sidebar-wrapper">

  <div class="logo">
    <div class="logo-icon">✔</div>
    <span>vision platform</span>
  </div>

  <nav class="menu">

    <a routerLink="/dashboard" routerLinkActive="active">
      <mat-icon>dashboard</mat-icon>
      Dashboard
    </a>

    <a routerLink="/versions" routerLinkActive="active">
      <mat-icon>inventory_2</mat-icon>
      Versões
    </a>

    <a routerLink="/users" routerLinkActive="active">
      <mat-icon>group</mat-icon>
      Usuários
    </a>

  </nav>

</div>
