<div class="sidebar-wrapper" [class.collapsed]="collapsed">

  <!-- LOGO -->
  <div class="logo">

    <div class="logo-icon">✔</div>

    @if(!collapsed){
      <span>vision platform</span>
    }

  </div>

  <nav class="menu">

    <!-- DASHBOARD -->
    <a
      routerLink="/dashboard"
      routerLinkActive="active"
      matTooltip="Dashboard"
      [matTooltipDisabled]="!collapsed"
    >
      <mat-icon>dashboard</mat-icon>

      @if(!collapsed){
        Dashboard
      }
    </a>

    <!-- CADASTRO -->
    <div class="submenu">

      <div
        class="submenu-title"
        (click)="toggleCadastro()"
        matTooltip="Cadastro"
        [matTooltipDisabled]="!collapsed"
      >
        <mat-icon>folder</mat-icon>

        @if(!collapsed){
          Cadastro
        }

        @if(!collapsed){
          <mat-icon class="arrow">
            {{ cadastroOpen ? 'expand_less' : 'expand_more' }}
          </mat-icon>
        }

      </div>

      @if(cadastroOpen && !collapsed){

        <div class="submenu-items">

          <a routerLink="/usuarios" routerLinkActive="active">
            Usuários
          </a>

          <a routerLink="/clientes" routerLinkActive="active">
            Clientes
          </a>

          <a routerLink="/areas" routerLinkActive="active">
            Áreas
          </a>

        </div>

      }

    </div>

    <!-- PLANEJAMENTO -->
    <a
      routerLink="/planejamento"
      routerLinkActive="active"
      matTooltip="Planejamento"
      [matTooltipDisabled]="!collapsed"
    >
      <mat-icon>event</mat-icon>

      @if(!collapsed){
        Planejamento de versões
      }

    </a>

    <!-- VERSÕES -->
    <a
      routerLink="/versions"
      routerLinkActive="active"
      matTooltip="Versões"
      [matTooltipDisabled]="!collapsed"
    >
      <mat-icon>inventory_2</mat-icon>

      @if(!collapsed){
        Versões
      }

    </a>

  </nav>

</div>
