/* CONTAINER */
.page-container {
  padding: 10px 20px;
  margin: 0 auto;
}
/* HEADER */
.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.title-group p {
  color: #9aa4b2;
}

/* CARD */
.card {
  background: rgba(255, 255, 255, 0.03);
  border-radius: 18px;
  padding: 20px;
  backdrop-filter: blur(18px);
  border: 1px solid rgba(255, 255, 255, 0.06);
  margin-bottom: 20px;
}

/* FILTROS */
.filters {
  display: grid;
  grid-template-columns: 120px 1fr auto;
  gap: 10px;
  align-items: end;
  padding: 15px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(10px);
}

.container-filters {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 3px;
}

/* FORM */

.form-group.button-group {
  display: flex;
  flex-wrap: wrap;
}
.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 12px;
  color: #9ca3af;
  margin-bottom: 6px;
}

.form-group input {
  height: 40px;
  padding: 0 12px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  background: rgba(255, 255, 255, 0.04);
  color: white;
  outline: none;
}

//BOTOES AO LADO
.form-group input {
  height: 40px;
  padding: 0 12px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  background: rgba(255, 255, 255, 0.04);
  color: white;
  outline: none;
}

/* BOTÃO */
.btn-primary {
  height: 40px;
  padding: 0 16px;
  border-radius: 10px;
  font-size: 13px;
  font-weight: 600;
  white-space: nowrap;

  background: linear-gradient(135deg, #22c55e, #16a34a);
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.btn-primary:hover {
  transform: translateY(-1px);
  box-shadow: 0 8px 20px rgba(34, 197, 94, 0.3);
}

.btn-primary.full {
  padding: 0px 20px;
}

/* 🔥 TABELA */
table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

/* HEADER */
th {
  color: #f3f4f5 !important;
  font-weight: 500;
  padding: 14px 16px !important;
  font-weight: bold;
}

/* CELLS */
td {
  padding: 14px 16px !important;
  color: #fff;
  font-weight: bold;
}

/* ZEBRA */
tr:nth-child(odd) td {
  background: rgba(255, 255, 255, 0.02);
}

tr:nth-child(even) td {
  background: rgba(255, 255, 255, 0.04);
}

/* AÇÕES */
.actions-col {
  text-align: right;
}

.actions-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

/* BOTÕES */
.btn-edit {
  background: rgba(0, 200, 83, 0.15);
  color: #00e676;
  border: none;
  padding: 6px 14px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
}

.btn-edit:hover {
  background: #00c853;
  color: black;
  box-shadow: 0 0 10px rgba(0, 255, 170, 0.7);
  transform: scale(1.05);
}

.btn-delete {
  background: rgba(229, 57, 53, 0.15);
  color: #ff5252;
  border: none;
  padding: 6px 14px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
}

.btn-delete:hover {
  background: #e53935;
  color: white;
  box-shadow: 0 0 10px rgba(255, 82, 82, 0.7);
  transform: scale(1.05);
}
/* 🔥 PAGINATOR */
::ng-deep .mat-paginator {
  background: transparent;
  color: #9aa4b2;
}

::ng-deep .mat-mdc-table {
  background: transparent !important;
}

::ng-deep .mat-mdc-row,
::ng-deep .mat-mdc-header-row {
  background: transparent !important;
}

::ng-deep .mat-mdc-row:nth-child(odd) {
  background: rgba(255, 255, 255, 0.02);
}

::ng-deep .mat-mdc-row:nth-child(even) {
  background: rgba(255, 255, 255, 0.04);
}

::ng-deep .mat-mdc-row:hover {
  background: rgba(0, 255, 170, 0.08);
}

::ng-deep .mat-mdc-cell,
::ng-deep .mat-mdc-header-cell {
  padding: 14px 16px !important;
  border-bottom: none !important;
}

::ng-deep .mat-mdc-header-cell {
  color: #9aa4b2 !important;
  font-weight: 500;
}

::ng-deep .mat-mdc-header-cell {
  color: #9aa4b2 !important;
  font-weight: 500;
}

::ng-deep .mat-mdc-row {
  transition: all 0.2s ease;
  cursor: pointer;
}

::ng-deep .mat-mdc-row:hover {
  background: linear-gradient(90deg, rgba(0, 200, 83, 0.15), rgba(0, 200, 83, 0.05)) !important;

  box-shadow: inset 3px 0 0 #00c853;
}

/* 🔥 HOVER PRINCIPAL */
::ng-deep .mat-mdc-row:hover {
  background: linear-gradient(90deg, rgba(0, 200, 83, 0.15), rgba(0, 200, 83, 0.05)) !important;

  box-shadow: inset 3px 0 0 #00c853;
  transform: scale(1.002);
}
::ng-deep .mat-mdc-row.row-selected {
  background: rgba(0, 200, 83, 0.15) !important;
  box-shadow: inset 3px 0 0 #00c853;
}

::ng-deep th {
  cursor: pointer;
  transition: 0.2s;
}

::ng-deep th:hover {
  color: #00e676 !important;
}

::ng-deep .mat-mdc-row.row-selected {
  background: rgba(0, 200, 83, 0.15) !important;
  box-shadow: inset 3px 0 0 #00c853;
}
