@use '@angular/material' as mat;

/* 1️⃣ Core obrigatório */
@include mat.core();

/* 2️⃣ Criar tema Material 3 correto */
$vision-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$green-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: (
      brand-family: Roboto,
      plain-family: Roboto,
    ),
    density: (
      scale: 0,
    ),
  )
);

/* 3️⃣ Aplicar tema */
:root {
  @include mat.all-component-themes($vision-theme);
}

/* ===== FIX GLOBAL SCROLL ===== */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background: #0f0f1a;
  color: white;
  font-family: Roboto, sans-serif;
}

/* container principal da aplicação */
app-root {
  display: block;
  height: 100%;
}

/* layout principal */
.main-layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

/* área de conteúdo */
.content {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 24px;
}

.mat-mdc-dialog-surface {
  background: transparent !important;
}

.dialog-dark .mat-mdc-dialog-surface {
  background: transparent;
  box-shadow: none;
}
