@use '@angular/material' as mat;

/* 1️⃣ Core obrigatório */
@include mat.core();

/* 2️⃣ Criar tema Material 3 correto */
$vision-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$green-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: (
      brand-family: Roboto,
      plain-family: Roboto,
    ),
    density: (
      scale: 0,
    ),
  )
);

:root {
  @include mat.all-component-themes($vision-theme);
}

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: #0f0f1a;
  color: white;
  font-family: Roboto, sans-serif;
}

.layout-container {
  height: 100%;
}

.sidebar {
  width: 260px;
  overflow: hidden;
  border-radius: 0;
  border-right: 1px solid rgba(255, 255, 255, 0.06);
}

.sidebar-wrapper {
  height: 100%;
  box-sizing: border-box;
  padding: 2rem 1rem;
}

.layout-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page-content {
  flex: 1;
  overflow-y: auto;
}

/*Notificações*/

/* SUCCESS */
.snackbar-success {
  background: linear-gradient(135deg, #22c55e, #16a34a) !important;
  color: #16a34a !important;
  border-radius: 10px !important;
  font-weight: 500;
}

/* ERROR */
.snackbar-error {
  background: linear-gradient(135deg, #ef4444, #dc2626) !important;
  color: red !important;
  border-radius: 10px !important;
}

/* INFO */
.snackbar-info {
  background: linear-gradient(135deg, #3b82f6, #2563eb) !important;
  color: yellow !important;
}

/* WARNING */
.snackbar-warning {
  background: linear-gradient(135deg, #f59e0b, #d97706) !important;
  color: orangered !important;
}

/* SHADOW PREMIUM */
.snackbar-success,
.snackbar-error,
.snackbar-info,
.snackbar-warning {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}
